html,
body {
    height: 100%;
    
}

body {
    margin: 0;
}

.gridBody {
    display: flex;
    flex-wrap: wrap row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.gridSquare {
    display: inline-block;
    margin: 0;
    width: 10px;
    height: 10px;
    border: 1px dashed red;
}