html,
body {
    height: 100%;
    
}

body {
    margin: 0;
}

.gridBody {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 600px;
    height: 600px;
}

.cell {
    background-color: white;
}